.lista__caixa {
    background-color: var(--caixa-fundo);
    border: 0.2rem solid var(--caixa-borda);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    margin: 1rem;
  }

  @media screen and (min-width: 0) {
    .lista__caixa {
      width: 100%;
    }
  }

  @media screen and (min-width:768px) {
    .lista__caixa {
      width: 10rem;
    } 
  }

  @media screen and (min-width: 992px) {
  .lista__caixa{
    width: 8rem;
  }
  }