.github {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    border: 0.2rem solid var(--caixa-borda);
    background-color: var(--caixa-fundo);
    border-radius: 1rem;
  }