:root {
  --fonte: "Montserrat", sans-serif;

  --bg: #5928e5;
  --font-color: #fff;

  --caixa-borda: #d4d4d4;
  --caixa-fundo: #fafafa;
  --caixa-texto: #000000;
}

.container {
  text-align: center;
  font-family: var(--fonte);
  background: var(--bg);
  color: var(--font-color);
  max-width: 1000px;
  margin: auto;
}

.cabecalho {
  margin: 2rem;
}

.cabecalho__titulo {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.cabecalho__subtitulo {
  font-weight: 100;
  font-size: 1rem;
}

.box {
  font-weight: 700;
}

.box__titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.listaBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.listaBox__caixa {
  background-color: var(--caixa-fundo);
  border: 0.2rem solid var(--caixa-borda);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 8rem;
  padding: 1rem 2rem;
  margin: 1rem;
  color: var(--caixa-texto);
}

.projetos {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap;
  border: 0.2rem solid var(--caixa-borda);
  background-color: var(--caixa-fundo);
  border-radius: 1rem;
}

.projetos__titulo{
  margin: .6rem 0 .6rem 0 ;
  flex-basis: 100%;
  text-decoration: none;
}

.projetos__conteudo {
  margin: .8rem;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projetos__conteudo__imagem{
  max-width:100%;
  height:auto;
}

.teste {
  display: flex;
  align-items: center;
}

.projetos__conteudo__titulo{
  margin-top: .5rem;
  text-decoration: none;
}

.projetos a:visited{
  color: var(--caixa-texto);
}

.linkedin {
  content: url(../img/linkedin.png);
}

.email {
  content: url(../img/mail.png);
}

.rodape {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1000px;
}